# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Level 3 Spring\Han Solo and Lazer Gun\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
